<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout=""
      layout:decorate="~{layouts/user-layout}" >
<head>
    <title>Đăng Ký Tài khoản</title>
</head>
<body>
<section layout:fragment="content">

    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">CREATE AN ACCOUNT</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->


        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">PERSONAL INFORMATION</h1>
                                <form id="registerForm" th:action="@{/register}" th:object="${register}" method="post">
                                    <!-- col -->
                                    <div class="form-floating mb-3">
                                        <!-- input -->
                                        <input th:field="*{fullname}" id="fullname" name="fullname" type="text" class="form-control"
                                               placeholder="Fullname" aria-label="Fullname"
                                               required>
                                        <label for="fullname">Fullname</label>
                                        <small></small>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <!-- input -->
                                        <input th:field="*{username}" id="username" name="username" type="text" class="form-control"
                                               placeholder="Username" aria-label="Username"
                                               required>
                                        <label for="fullname">Username</label>
                                        <small></small>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <!-- input -->
                                        <input th:field="*{email}" id="email" name="email" type="text" class="form-control"
                                               placeholder="Email" aria-label="Email"
                                               required>
                                        <label for="fullname">Email</label>
                                        <small></small>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <!-- input -->
                                        <input th:field="*{password}" id="password" name="password" type="text" class="form-control"
                                               placeholder="Password" aria-label="Password"
                                               required>
                                        <label for="password">Password</label>
                                        <small></small>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <!-- input -->
                                        <input th:field="*{verifyPassword}" id="pass" name="password" type="text" class="form-control"
                                               placeholder="Password" aria-label="Password"
                                               required>
                                        <label for="password">Xác nhận Password</label>
                                        <small></small>
                                    </div>

                                    <div class="col-12 d-grid mb-3">
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </div>




                                    <!-- text -->
                                    <p class="text-center"><small>By continuing, you agree to our
                                        <a href="#!"> Terms of Service</a>
                                        &
                                        <a href="#!">Privacy
                                            Policy
                                        </a>
                                    </small></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>

</section>
</body>
</html>