<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="">
<head>
    <title>pagination</title>
</head>
<body>
<div th:fragment="pagination">

    <div class="u-s-p-y-60">

        <!--====== Pagination ======-->
        <ul class="shop-p__pagination">
            <li class="is-active">

                <a href="shop-side-version-2.html">1</a></li>
            <li>

                <a href="shop-side-version-2.html">2</a></li>
            <li>

                <a href="shop-side-version-2.html">3</a></li>
            <li>

                <a href="shop-side-version-2.html">4</a></li>
            <li>

                <a class="fas fa-angle-right" href="shop-side-version-2.html"></a></li>
        </ul>
        <!--====== End - Pagination ======-->
    </div>


</div>
</body>
</html>