
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=""
      layout:decorate="~{layouts/user-layout}" xmlns:sec>
<head>
    <title>cart</title>
</head>
<body  layout:fragment="content">
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    <div th:replace="~{client/account/leftSide :: leftSide}"></div>
                    <div layout:fragment="content_Account"></div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
</body>
</html>