

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=""
      layout:decorate="~{client/account/accountLayout}" xmlns:sec>
<head>
    <title>My Returns & Cancellations</title>
</head>
<body layout:fragment="content_Account">

<div class="col-lg-9 col-md-12">
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
        <div class="dash__pad-2">
            <h1 class="dash__h1 u-s-m-b-14">My Returns &amp; Cancellations</h1>

            <span class="dash__text">There are no returns &amp; cancellations yet.</span>
        </div>
    </div>
</div>

</body>

</html>